@import "../../bower_components/stylmethods/vendor.styl"
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,500,700,900")

/* ------------------------- COLORS ------------------------- */
THEME                   = #CCC
BACKGROUND              = #F0F0F0
DARK                    = darken(#333, 20%)
WHITE                   = #fff
BUTTON                  = darken(BACKGROUND, 15%)
CANCEL                  = #e74c3c
ACCEPT                  = #2ecc71
WARNING                 = #edba22

/* ----------------------- DIMENSIONS ----------------------- */
ASIDE_WIDTH             = 16rem
FORM_SIZE               = 1rem
MOBILE                  = 480px
U                       = 4rem
SPACE                   = 1rem

/* -------------------------- FORM -------------------------- */
FORM_COLOR              = darken(BACKGROUND, 15%)
BORDER_RADIUS           = .15rem

/* ------------------------ ANIMATION ----------------------- */
ANIMATION_DURATION      = 450ms
ANIMATION_STEPS         = 15
ANIMATION_EASE          = cubic-bezier(0.645, 0.045, 0.355, 1.000)

/* -------------------------- FONT -------------------------- */
FONT_FAMILY             = "Lato", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE_TINY          = 0.8rem
FONT_SIZE_SMALL         = 0.9rem
FONT_SIZE_NORMAL        = 1.0rem
FONT_SIZE_BIG           = 1.2rem
FONT_WEIGHT_THIN        = 300
FONT_WEIGHT_NORMAL      = 400
FONT_WEIGHT_BOLD        = 700

/* -------------------------- STYLES -------------------------- */
DIVIDER                 = solid 1px darken(BACKGROUND, 2.5%)
SHADOW_HEIGHT           = .075rem
SHADOW_OPACITY          = rgba(0,0,0,0.15)
