.gridster
  margin-top: U
  li
    background-color: lighten(DARK, 2.5%)
    list-style: none
    color: WHITE

    h1, h2, strong, small
      margin: (SPACE / 2)
      display: block
      text-align: center
      line-height: 100%
      text-transform: uppercase

    h1
      font-size: 20px
    h2
      font-size: FONT_SIZE_TINY
    h2, small
      line-height: 50%
      opacity: 0.25
    strong
      font-size: U
      font-weight: FONT_WEIGHT_BOLD
    small
      font-size: FONT_SIZE_TINY
